apiVersion: k0sctl.k0sproject.io/v1beta1
kind: Cluster
metadata:
  name: ${clustername}
spec:
  hosts:
  %{ for spec in controller_addrs }
  - ssh:
      address: ${spec.addr}
      user: root
      port: 22
    %{ if spec.private_interface != "" }
    privateInterface: ${ spec.private_interface }
    %{ endif }
    role: controller
    hooks:
      apply:
        before:
        %{ if airgapped_images }
        - mkdir -p /var/lib/k0s/images
        - curl -sLo /var/lib/k0s/images/bundle_file https://github.com/k0sproject/k0s/releases/download/${version}/k0s-airgap-bundle-${version}-amd64
        %{ endif }
  %{ endfor }

  %{ for spec in worker_addrs }
  - ssh:
      address: ${spec.addr}
      user: root
      port: 22
    %{ if spec.private_interface != "" }
    privateInterface: ${ spec.private_interface }
    %{ endif }
    role: worker
    installFlags:
    %{ for flag in worker_install_flags }
    - ${flag}
    %{ endfor }
    hooks:
      apply:
        before:
        %{ if airgapped_images }
        - mkdir -p /var/lib/k0s/images
        - curl -sLo /var/lib/k0s/images/bundle_file https://github.com/k0sproject/k0s/releases/download/${version}/k0s-airgap-bundle-${version}-amd64
        %{ endif }
  %{ endfor }

  %{ for spec in controller_worker_addrs }
  - ssh:
      address: ${spec.addr}
      user: root
      port: 22
    %{ if spec.private_interface != "" }
    privateInterface: ${ spec.private_interface }
    %{ endif }
    %{ if length(controller_worker_addrs) == 1 }
    role: single
    %{ else }
    role: controller+worker
    %{ endif }
    installFlags:
    %{ for flag in worker_install_flags }
    - ${flag}
    %{ endfor }
    hooks:
      apply:
        before:
        %{ if airgapped_images }
        - mkdir -p /var/lib/k0s/images
        - curl -sLo /var/lib/k0s/images/bundle_file https://github.com/k0sproject/k0s/releases/download/${version}/k0s-airgap-bundle-${version}-amd64
        %{ endif }
  %{ endfor }

  k0s:
    version: ${version}
    config:
      kind: Cluster
      metadata:
        name: k0s
      spec:
        images:
        %{ if airgapped_images }
          default_pull_policy: Never
        %{ endif }
        network:
          provider: calico
          calico:
            wireguard: true
        api:
          externalAddress: ${kubeapiIp}
          sans:
            - ${kubeapiIp}
            %{ for sans in extra_sans }
            - ${sans}
            %{ endfor }
